@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.54);
}

body,
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


@media screen and (min-width: 376px) {

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(241, 241, 241);
    border-radius: 4px;
  }
}
